* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

#food-name {
  padding-top: 40pt;
  font-size: 20pt;
}

#back {
  font-size: 14pt;
  margin-top: 20pt;
}

#visit {
  color: gray;
  margin-bottom: 20pt;
}

#visit-color {
  color: red;
  letter-spacing: 0.3pt;
}


.btn {
  margin-top: 15pt;
  padding: 5pt;
  font-size: 18pt;
  text-decoration: none;
  background-color: rgb(230, 255, 119);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    color: gray;
    transition: .5s;
  }
}


.container {
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px; 
  text-align: center;
}

.logo {
  display: inline-block;
}


.index {
  p {
    padding: 5px;
    text-align: center;
  }
}

.select {
  font-size: 18pt;
}

a { 
  color: black;
  text-decoration: none;
  :hover {
    color: black;
  }
  :visited {
    color: black;
  }
}

header {
  display: flex;
  justify-content: space-between; 
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}


body{
  background-image: url("/images/kitchen-wallpaper.jpg");
}

footer {
  border-top: 0.05px solid #fff;
  font-size: 14px;
  text-align: right;
  margin-top: 14em;
}

h1 {
  margin-left: 10px;
}

h2 {
  margin-top: -20pt;
  margin-bottom: 20pt;
  font-weight: normal;
}


// メニューバー
.menu{
  height: 2rem;
  display: flex;
  text-align: center;
  padding-right: 10pt;
  margin-top: 12pt;

  li {
    text-decoration: none; 
    list-style: none;
    position: relative;
    text-align: center;
  
    a {
      text-align: center;
      display: block;
      line-height: 2rem;
      height: 2rem;
      width: 100%;
    }
  
    li {
      height: 0;
      overflow: hidden;
      transition: .5s;
      text-align: center;
  
      a {
        background-color: white;
        padding: 5px;
      }
    }
  }
  
  li:hover > ul > li {
    height: 2rem;
    overflow: visible;
  }
}


// フラッシュメッセージ
.container-alert {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.notice {
  position: relative; 
  width: 60%;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 223, 61, 0.5);
  color: #353535;
  text-align: center;
}

// 履歴表示
.history_list {
  table {
    margin: auto;
    background-color: rgba(151, 115, 73, 0.7);
    border-radius: 4px;
  }
  th {
    color: white;
  }
  td {
    background-color: rgba(255, 255, 255, 0.85);
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
  }
}
