/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  text-align: center;
}

#back{
  color: #001aff;
  font-size: 20px;
  padding-top: 10px;
  text-decoration: underline;
  &:hover {
    color: #FCFC00;
    text-decoration: underline;
  }
}

#select{
  text-align: center;
  align-items: center;
  font-size: 20pt;
}

#btn{
  display: block;
  // font-weight: bold;
  // font-family: Tahoma, Verdana;
  font-size: 15pt;
  // padding: 0.25em 0.5em;
  text-decoration: underline;
  color: #001aff;
  background: #ECECEC;
  // transition: .4s;
  // margin-top: 10px;
  text-align: center;
  margin:20px auto;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  outline: none;
  padding: 4px;
  cursor: default;
  &:hover {
    color: #FCFC00;
  }
}

#debug {
  color: #ffffff;
}

#visit {
  color: gray;
  margin-bottom: 20pt;
}

#visit-color {
  color: red;
  letter-spacing: 0.3pt;
}

.center {
  text-align: center;
  font-family: Comic Sans MS,Arial,Helvetica,sans-serif;
}

.result{
  color: #fcf800;
  font-size: 25pt;
}

body{
  // background-color: black;
  // background-image: url("/images/space.jpg");
}

h1{
  margin-top: 70pt;
}

footer {
  border-top: 0.05px solid #fff;
  font-size: 14px;
  text-align: right;
  margin-top: 14em;
}